body {
    background-color: silver;
    border:  1px solid  black; 
    border-radius: 50px;
    padding: 80px; 
    text-decoration: none;
    text-align: center;
    
}

a{
    border-radius: 10px;
    border: 1px solid red;
    text-decoration: none;
    padding: 1px;
    color: red;
    
}

